---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>I often researching about something in AI. As I used multiple AI, I need to save them in one place. Also, I don't want to mix my own thoughts and researches with AI generated contents. It's confusing for me and anybody else.</p>
	<p>For these reasons, I think best to gather all of the researches on this blog.</p>
</Layout>
