---
import { SITE_TITLE } from "../consts";
---

<div class="navbar bg-transparent">
	<div class="navbar-center">
		<h2 class="text-xl font-bold"><a href={`${import.meta.env.BASE_URL}/`}>{SITE_TITLE}</a></h2>
	</div>
</div>
